---
layout: default
title: Blog
header: Blog
permalink: /blog/
order: 3
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <div class="blog-post-excerpt">
          <img src={% if post.excerpt-image %}{{ post.excerpt-image | prepend: site.baseurl }}{% else %}{{ "/assets/images/blog-icon.jpg" | prepend: site.baseurl }}{% endif %} alt="blog-image">
          <div class="blog-body">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>          
            </h2>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.excerpt }}</p>
          </div>
        </div>        
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
