.re-policy-map {
    width: 500px;
}


.svg-map {
    width          : 100%;
    height         : auto;
    stroke         : #666;
    stroke-width   : 1;
    stroke-linecap : round;
    stroke-linejoin: round;
}

.svg-map__location {
    fill  : #a1d99b;
    cursor: pointer;
}

.svg-map__location:focus,
.svg-map__location:hover {
    fill   : #f4bc44 !important;
    outline: 0;
}


.svg-map__location[aria-checked=true] {
    fill   : #f4bc44 !important;
    outline: 0;
}


.state-callout{
    padding: 10px 20px;
    max-width:370px;
}


.state-callout .header{
    padding: 18px 18px 12px;
}


.state-callout .header-title{
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.state-callout .body{
    height: 100%;
    padding: 0px 18px 20px;
}

.state-callout .body-text{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}

.state-callout .footer{
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
}

.state-callout .footer-link{
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}