.re-policy-map {    
    margin: auto;
}

.map{
    width: 1200px;
    margin-right: 100px;
}


.svg-map {
    width          : 100%;
    height         : auto;
    stroke         : #666;
    stroke-width   : 1;
    stroke-linecap : round;
    stroke-linejoin: round;
}

.circle {
    background-color:#fff;
    border: 7px solid #F4BC44;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;

    font-size: 36px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: -1px;
    text-align: center;
    color:#a6a6a6;

    margin: auto;
}

.svg-map__location {
    fill  : #a1d99b;
    cursor: pointer;
}

.svg-map__location:focus,
.svg-map__location:hover {
    fill   : #f4bc44 !important;
    outline: 0;
}


.svg-map__location[aria-checked=true] {
    fill   : #f4bc44 !important;
    outline: 0;
}


.state-callout{
    padding: 5px 5px;
    max-width:370px;
}


.map-container .header{
    padding: 18px 18px 12px;
}


.map-container .header-title{
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.map-container .body-text{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}

.map-container .footer{
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
}

.map-container .footer-link{
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.state-callout .header{
    padding: 18px 18px 12px;
}


.state-callout .header-title{
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
}

.state-callout .body{
    height: 100%;
    padding: 0px 18px 20px;
}

.state-callout .body-text{
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
}

.state-callout .footer{
    position: relative;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
}

.state-callout .footer-link{
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
}

.map-description .label{
    text-align: center;
    margin: 15px 0px 5px 0px;
}

.map-columns{
    display: flex;
    flex-direction: row;
}

.map-description {
    width:300px;
    margin-left: 100px;
}

.map-description .body > div{
    margin: 0px 5px;
}