<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
        <p>Reach out to us for any queries</p>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Contact</h2>
        <ul class="contact-list">
          <li class="footer-name">{{ site.name }}</li>
          <li>{{ site.phone }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      
    </div>

  </div>

</footer>
