<footer class="site-footer">

  <div class="wrapper">

    <div class="footer">
      <div class="footer-col one">
        <div class="header">Contact Us</div>
        <ul class="contact-list">
          <li>{{ site.name }}</li>
          <li>{{ site.phone }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col two">
        <div class="header">Contribute</div>
        <ul class="social-media-list">
          {% if site.github %}
          <li>
            {% include icon-github.html repo=site.github repo-name=site.repo-name %}
          </li>
          {% endif %}
      </div>

      
    </div>

  </div>

</footer>
