/**
 * Site header
 */
.site-header, .page-content, .site-footer, #root {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        padding-bottom: 8px;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    a.page-link:hover {
        border-bottom: 4px #CA8F70 solid
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit * 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            padding-bottom: 8px;
            margin-left: 10px;
            margin-right: 10px;
            margin-left: 20px;
        }
    }
}

.content-wrapper{
    margin-bottom:30px;
}

.site-footer{
    margin: 0px -20px;
    background:#363636;
}

.footer{
    
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    .one{
        background-color: #464646;
    }

    .two{
        background-color: #262626;
    }

    .footer-col{
        flex: 1;
        padding:50px;
        text-align: center;
        color: #f6f6f6;

        a {
            color: #f6f6f6;
            text-decoration: none;

            &:visited {
                color: #f6f6f6;
            }

            &:hover {
                color: #f6f6f6;
            }
        }

        ul{
            list-style-type: none;
        }

        .header{
            color: #C61452;
            margin-bottom:20px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 100;
        }

        
    }
}



/**
 * Page content
 */
.page-content {
    // padding: $spacing-unit 0;
}

#root {
    padding: 2 * $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.image-container{
    // background-color: black;
    text-align: center;
    display: block;
    margin-bottom: 40px;
    .image-wrapper{
        background: url("../assets/images/windmill.png") center no-repeat;
        padding: 150px 40px 450px 40px;
        background-size: cover;

        .image-text.header{
            color:#a6a6a6;
            font-size: 50px;
            font-weight: 100;
            text-align: center;
            line-height: 60px;
            padding-bottom: 20px;
        }
        .image-text.body{
            color:#a6a6a6;
            font-size: 24px;
            font-weight: 100;
            text-align: center;
        }

        .image-text.button{
            margin-top: 20px;
            &:link, &:visited {
                border: 1px solid #a6a6a6;
                color:#a6a6a6;
                padding: 10px 25px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
            }
            &:hover, &:active {
                opacity: 0.5;
            }
        }
    }
}




.homepage-cpontent-wrapper{
    margin-top:-130px;
    margin-bottom:30px;
}
.options-container{
    position:relative;
}
.options{
    background: #f6f6f6;
    z-index: 9999;
    border-radius: 20px;
    position: relative;
    top: -150px;
    margin: 0px 30px;

    .data-points{
        display: flex;
        flex-direction: row;
        flex-flow: wrap;

        .data-point{
            margin: 25px 25px;
            flex:1;

            .label{
                color: #C61452;
                text-align: center;
                margin: 20px 0px;
            }
            .data.small-circle{
                border: 5px solid #C61452;
                height: 150px;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                width: 150px;

                font-size: 70px;
                font-weight: 200;
                text-align: center;
                color:#363636;
                line-height: 150px;

                margin: auto;
            }
        }
    }
}



@include media-query($on-palm) {
    .options{
        display: none;
    }

    .homepage-cpontent-wrapper{
        margin-top: 20px;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 26px;
        font-weight: 300;
        line-height: 56px;
        letter-spacing: -1px;


        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 46px;
        letter-spacing: -1px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;
        font-weight: 200;
        line-height: 56px;
        letter-spacing: -1px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

h2 {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;


    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

h3 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
}

h4 {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: -1px;

    @include media-query($on-laptop) {
        font-size: 16px;
    }
}