<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div class="page-container">
    {% include header.html %}
    <div class="page-content">
      <div class="image-container">
        <div class="image-wrapper">
          <div class="image-text header">RE India</div>
          <div class="image-text body">
            Simplifying India's renewable policy.
          </div>
          <a class="image-text button"href="#content">Learn More</a>
        </div>
      </div>
      <div class="options-container" id="options">
        <div class="options">
          {% include data.html %}
        </div>
      </div>
      <div class="homepage-cpontent-wrapper">
        <article class="post">
          <div class="post-content" id="content">
            {{ content }}
          </div>
        </article>
      </div>
    </div>  
  {% include footer.html %}
  </div>
  <script type="text/javascript" src="/REIndia/assets/javascripts/bundle.js" charset="utf-8"></script>
  </body>


</html>
