<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="page-content">
      <div class="image-container"><img className="image-stock" src="assets/images/renewable-energy-montage.jpg" alt="Courtesy: Shutterstock/FotoIdee"></div>
        
      <div class="wrapper">
        <article class="post">          
          <div class="post-content">
            {{ content }}
          </div>
        
        </article>
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="/REIndia/assets/javascripts/bundle.js" charset="utf-8"></script>
  </body>

</html>
